absl-py==0.11.0
astunparse==1.6.3
cachetools==4.1.1
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
decorator==4.4.2
dm-acme==0.2.0
dm-env==1.4
dm-reverb==0.2.0
dm-sonnet==2.0.0
dm-tree==0.1.5
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gym==0.18.0
gym-super-mario-bros==7.3.2
h5py==2.10.0
idna==2.10
imageio==2.9.0
jax==0.2.10
jaxlib==0.1.64
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
matplotlib==3.3.4
nes-py==8.1.6
networkx==1.8.1
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
Pillow==7.2.0
portpicker==1.3.1
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.18.1
scipy==1.6.1
six==1.15.0
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.1
termcolor==1.1.0
tifffile==2021.3.17
tqdm==4.59.0
trfl==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
